.wrapper

  = render 'side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group test-group
        %ul.main-header__left-box__member-list 
          Member：
          %li.main-header__left-box__member-list__member test-user
      %a.edit
        .main-header__edit-btn Edit
    .message
      .message__1
        .message__1__upper-info
          %p.message__1__upper-info__talker test-user
          %p.message__1__upper-info__date 2019/08/24(Sut)16:35
        %p.message__1__text こんにちは！
      .message__1
        .message__1__upper-info
          %p.message__1__upper-info__talker test-user
          %p.message__1__upper-info__date 2436/10/3(Wed)03:54
        %p.message__1__text さようなら！
    %form.form
      .new-message
        .input-box
          .input-box__text 
            %input{placeholder: "type a message"}
          .input-box__image
          %label.input-box__image
            = fa_icon 'image'
            %input{type: "file"}
        .submit-btn Send

